* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    margin: 0 120px;
    width: 100%;
    height: 122px;
    background-color: #FFFFFF;
    display: flex;
}

.logo {
    margin-top: 43px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 34px;
    color: #054C73;
    margin-right: 466px;
}

nav ul {
    margin-top: 57px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    list-style: none;
    font-weight: 600;
    font-size: 14px;
    margin-right: 73px;

}

nav ul li a {
    text-decoration: none;
    color: #333333;
}

.home {
    position: relative;
    background: url(../images/home_bg.jpg);
    width: 100%;
    height: 749px;
}

.discover {
    position: absolute;
    width: 643px;
    height: 443px;
    background: #DFE9F4;
    border-radius: 10px;
    padding: 155px 90px 0 0;
}

.arrival {
    padding-left: 39px;
}

.new_arrival {
    margin-top: 37px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 3px;
    color: #333333;
}

h1 {
    margin-top: 20px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 52px;
    line-height: 65px;
    color: #054C73;
}

.arrival_desc {
    margin-top: 20px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 39px;
    color: #333333;
}

.btn {
    padding: 25px 72px;
    width: 229px;
    height: 70px;
    background: #054C73;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}